Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [2]:
import pandas as pd

In [4]:
%%time
ratings = pd.read_csv('ml-latest-small/ratings.csv')
def class_(param):
    if param <= 2:
        return 'low'
    if param > 2 and param <= 4:
        return 'mid'
    if param >= 4.5:
        return 'high'
ratings['class'] = ratings['rating'].apply(class_)
ratings.head(10)

Wall time: 46 ms

   userId  movieId  rating  timestamp class
0       1        1     4.0  964982703   mid
1       1        3     4.0  964981247   mid
2       1        6     4.0  964982224   mid
3       1       47     5.0  964983815  high
4       1       50     5.0  964982931  high
5       1       70     3.0  964982400   mid
6       1      101     5.0  964980868  high
7       1      110     4.0  964982176   mid
8       1      151     5.0  964984041  high
9       1      157     5.0  964984100  high

In [3]:
%%time
keywords = pd.read_csv('keywords.csv')

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

def geo_class(param):
    for region, region_city in geo_data.items():
        for city in region_city:
            if city in param:
                return region
            else:
                return 'undefined'
keywords['region'] = keywords['keyword'].apply(geo_class)
keywords.head(10)

Wall time: 104 ms

                      keyword     shows     region
0                          вк  64292779  undefined
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined